.git
.venv
.ruff_cache
.pytest_cache
__pycache__
*.pyc
*.pyo
.env
.env.*
!.env.example
tests/
docs/
*.md
!docs/
docs/*
!docs/help/
docs/help/*
!docs/help/support/
!docs/help/support/*.md
docker-compose*.yml
.github/
nginx/
